<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails du Catway</title>
</head>
<body>
    <h1>Détails du Catway</h1>
    
    <% if (catways) { %>
        <p><strong>ID :</strong> <%= catways._id %></p>
        <p><strong>Numéro :</strong> <%= catways.catwayNumber %></p>
        <p><strong>Type :</strong> <%= catways.type %></p>
        <p><strong>État :</strong> <%= catways.catwayState %></p>
    <% } else { %>
        <p>Catway non trouvé.</p>
    <% } %>

    <a href="/catways/list">Retour à la liste des Catways</a>
</body>
</html>
