<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Utilisateurs</title>
</head>
<body>
    <h1>Liste des Utilisateurs</h1>

    <% if (users.length > 0) { %>
        <ul>
            <% users.forEach(user => { %>
                <li>
                    <a href="/users/details/<%= user._id %>">
                        <p><strong>ID :</strong> <%= user._id %></p>
                        <p><strong>Nom:</strong><%= user.name %></p>
                        <p><strong>Email:</strong><%= user.email %></p>
                    </a>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>Aucun utilisateur trouvé.</p>
    <% } %>

    <a href="/">Retour au tableau de bord</a>
</body>
</html>
